body {
  padding: 0px 80px 0px;
  width: 300px;
  max-width: 850px;
  min-width: 780px;
  font-weight: 600;
  font-size: 15px;
  margin: 0 auto;
  line-height: 2;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

h2 {
  margin-bottom: 0;
  margin-top: 10px;
}

span {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 800;
}

.content {
  margin: 35px 0;
}

.disable {
  display: none;
}

.project-header {
  padding-top: 25px;
  line-height: 15px;
  margin-bottom: 10px;
}

.period {
  color: gray;
  font-size: 13px;
  margin-left: 20px;
}

.sub-text {
  color: gray;
  font-size: 13px;
}

h3 {
  margin-top: 30px;
}

.border-frame {
  border: 2px solid black;
}

.color-blue {
  color: rgb(72, 128, 220);
}

a {
  /* color: rgb(59 130 246); */
  color: rgb(52, 52, 52);
}

.medium-img {
  width: 60%;
}

.small-img {
  width: 30%;
}

.img {
  width: 70%;
}

.half {
  display: flex;
  margin: 0;
  padding: 0;
}

.full-half-content {
  width: 100%;
}

.content ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.full-half-content ul {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.half-content {
  margin: 0;
  padding: 0;
  width: 70%;
}

.thumbnail-img {
  cursor: zoom-in;
  transition: transform 0.3s ease;
  max-width: 100%;
  border-radius: 8px;
}

.modal-toggle:checked + .thumbnail-img + .modal-backdrop {
  display: flex;
}

.modal-backdrop {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: zoom-out;
}

.box {
  line-height: 30px;
}

.content-box {
  line-height: 15px;
}

.cer-box {
  margin: 35px 0;
  line-height: 15px;
}

.edu-half-content {
  margin: 10px 0 40px 0;
  padding: 0;
  width: 70%;
}

.edu-half-content h3 {
  margin: 0;
}

.edu-half-content p {
  margin: 0;
}

.full-half {
  display: flex;
  justify-content: space-between;
}

.highlight {
  color: rgb(80, 139, 236);
  font-weight: 700;
}
